h1{
    text-align: center;
    border-bottom: 5px solid darkblue;
    padding: 50px;
}

body{
    color:dark-grey;
    font-family: Georgia, 'Times New Roman';
}

header{
    background-color: lightsteelblue;
}
h2{
    color: brown;
    font-family: "Kanit", sans-serif;
}
ol{
    background-color: papayawhip;
}

p{
    line-height: 1.5;
}

#footer{
    font-weight: bold;
    margin: 40px;
}

.memories{
    margin-left: 20%;
}